.vs/
TestTracker/bin/
TestTracker/obj/
Tracker/.vs/
Tracker/Tracker/bin/
Tracker/Tracker/obj/
TrackerAPI/bin/
TrackerAPI/obj/
TrackerApp/node_modules/
TrackerDAL/bin/
TrackerDAL/obj/
PackageWorker/bin/
PackageWorker/obj/
PackageWorker/Properties/PublishProfiles/
TrackerAPI/Properties/PublishProfiles/
TrackerXamarinDemo/TrackerXamarinDemo/bin/
TrackerXamarinDemo/TrackerXamarinDemo/obj/
TrackerXamarinDemo/TrackerXamarinDemo.Android/bin/
TrackerXamarinDemo/TrackerXamarinDemo.Android/obj/
TrackerXamarinDemo/TrackerXamarinDemo.iOS/bin/
TrackerXamarinDemo/TrackerXamarinDemo.iOS/obj/